<% breadcrumb :user_followers %>
<div class="main user-show">
  <div class="container">

    <%= render "user_information"%>

    <ul class="user-tabs">
      <li><%= link_to "投稿", user_path(@user.id) %></li>
      <li ><%= link_to "いいね!", likes_user_path(@user.id) %></li>
      <li><%=link_to "フォロー", follows_user_path(@user.id) %></li>
      <li class="active"><%=link_to "フォロワー", followers_user_path(@user.id) %></li>
    </ul>

    <% @users.order(created_at: :desc).each do |user| %>

      <div class="posts-index-item">
        <div class="post-left">
          <% if user.image.attached? %>
            <%= image_tag user.image %>
          <% else %>
            <%= image_tag "/images/default.jpg", class: "user-img"%>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to user.nickname, user_path(user.id) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
