<% breadcrumb :user_show %>
<div class="main user-show">
  <div class="container">

    <%= render "user_information"%>

    <ul class="user-tabs">
      <li class="active"><%= link_to "投稿", user_path(@user.id) %></li>
      <li ><%= link_to "いいね!", likes_user_path(@user.id) %></li>
      <li><%=link_to "フォロー", follows_user_path(@user.id) %></li>
      <li><%=link_to "フォロワー", followers_user_path(@user.id) %></li>
    </ul>

    <% @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if post.user.image.attached? %>
            <%= image_tag post.user.image %>
          <% else %>
            <%= image_tag "/images/default.jpg", class: "user-img"%>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to post.user.nickname, post_path(post.id) %>
          </div>
          <%= link_to post.content, post_path(post.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>