<header>
  <div class="header-logo">
    <%= link_to "Rakumeshi", root_path %>
  </div>
  <ul class="header-menus">
    <% if user_signed_in? %>
      <li>
        <%= link_to "投稿一覧", posts_index_path %>
      </li>
      <li>
        <%= link_to "新規投稿", new_post_path %>
      </li>
      <li>
          <%= link_to "ユーザー一覧", users_path %>
        </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>

    <% else %>
      <li>
        <%= link_to "Rakumeshiとは", about_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</header>