<div class="main users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="session-tittle">
        <p>メールアドレスとパスワードでログイン</p>
      </div>
      <div class="form-body">
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード   (6文字以上)" %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン", class: :form__btn  %>
          </div>
        <% end %>

        <p class="devise-link">
          アカウントをお持ちでないですか？
            <%= link_to "登録する", new_user_registration_path %>
        </p>
      </div>
    </div>

    <div class="form users-form">
      <div class="session-tittle">
        <p>テストユーザーとしてログイン</p>
      </div>
    </div>
    <div class="form users-form">
      <div class="form-body">
        <p class="gest-login">
          <%= link_to users_guest_sign_in_path, method: :post, class: "sns-btn" do %>
            <span class="fas fa-power-off"> ゲストユーザーとしてお試しログイン</span>
          <% end %>
        </p>
      </div>
    </div>
    <div class="form users-form">
      <div class="session-tittle">
        <p>SNSアカウントでログイン</p>
      </div>
      <div class="form-body">
        <p class="sns-facebook">
          <%= link_to user_facebook_omniauth_authorize_path, method: :post, class: "sns-btn" do %>
            <span class="fab fa-facebook-f"> Facebookでログイン</span>
          <% end %>
        </p>
        <p class="sns-google">
          <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "sns-btn" do %>
            <span class="fab fa-google"> Googleでログイン</span>
          <% end %>
        <p class="sns-twitter">
          <%= link_to user_twitter_omniauth_authorize_path, method: :post, class: "sns-btn" do %>
            <span class="fab fa-twitter"> twitterでログイン</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>