<% breadcrumb :posts %>
  <div class="main posts-index">
    <% if user_signed_in? %>
        <p><%= link_to 'フォロー中の投稿一覧はこちら', follows_posts_path, class:"follow-posts-index" %>
    <% end %>

  <div class="container">
    <div class="search-form">
      <div id="js-search">
        <%= form_with url:posts_search_posts_path, class: "form_class", method: 'get', local: true do |f| %>
          <%= f.label :keyword, 'キーワードから探す' %>
          <span><i class="fas fa-search"></i></span>
          <div class="search-box" style="display: none;">
            <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
            <button class="search-send">
              <%= f.submit '検索' %>
            </button>
            <button class="search-reset"><%= link_to 'リセット', posts_path %>
            </button>
          </div>
        <% end %>
      </div>
    </div>

    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <% if post.user.image.attached? %>
            <%=link_to image_tag post.user.image %>
          <% else %>
            <%= image_tag "/images/default.jpg", class: "user-img"%>
          <% end %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to post.user.nickname, post_path(post.id) %>
          </div>
          <%= link_to post.content, post_path(post.id) %>
          <p><%= post.created_at.strftime("%Y年%m月%d日") %></p>
        </div>
      </div>
    <% end %>
      <%= paginate @posts %>
  </div>
</div>
