<% breadcrumb :post %>
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <% if @user.image.attached? %>
          <%= image_tag @user.image %>
        <% else %>
          <%= image_tag "/images/default.jpg", class: "user-img"%>
        <% end %>
        <%= link_to @user.nickname, user_path(@user.id) %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <div id="like-btn<%= @post.id %>">
        <%= render partial: "likes/like", locals: { post: @post} %>
      <div>

      <div class="post-menus">
        <% if @post.user.id == current_user.id %>
          <%= link_to "編集", edit_post_path(@post.id) %>
          <%= link_to "削除", post_path(@post.id), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>