<% breadcrumb :post %>
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <% if @post.user.image.attached? %>
          <%= image_tag @post.user.image %>
        <% else %>
          <%= image_tag "/images/default.jpg", class: "user-img"%>
        <% end %>
        <%= link_to @post.user.nickname, user_path(@post.user) %>
      </div>
      <p>
        <%= simple_format @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at.strftime("%Y年%m月%d日") %>
      </div>
      <% @tags.each do |tag| %>
        <div class="post-time">
          #<%= tag.tag_name %>
        </div>
      <% end %>
      <div id="js-like<%= @post.id %>">
        <%= render partial: "likes/like", locals: { post: @post} %>
      <div>

      <div class="post-menus">
        <% if user_signed_in? %>
          <% if @post.user.id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post.id) %>
            <%= link_to "削除", post_path(@post.id), method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div class="comments-post">
    <div class="form users-form">
      <div class="form-body">
        <div class="comments-form" id="js-comment-form-post-<%= @post.id.to_s %>">
          <%= form_with model: [@post, Comment.new],  class: "w-100" do |f| %>
            <%= f.text_area :text, class: "post-comment", maxlength:"255",placeholder: "コメント ...", autocomplete: :off %>
            <p class="comment-warn">
              相手のことを考え丁寧なコメントを心がけましょう。
              <br>
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            </p>
            <%= f.submit "コメントする", class: :form__btn  %>
          <% end %>
        </div>
        <% if user_signed_in? %>
            <div id="js-comment-post-<%= @post.id.to_s %>">
                <%= render 'comment_list', post: @post %>
            </div>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
          </strong>
        <% end %>
      </div>
    </div>
  </div>

