<!DOCTYPE html>
<html>
  <head>
    <title>Rakumeshi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header" %>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="pankuzu">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
      <%= yield %>
      <div id="js-page_top"><a class="fas fa-angle-up",href="#"></a></div>
  </body>
</html>
